<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Data Center</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" />
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div clas="top"></div>
        <div class="layui-logo"><img th:src="@{/static/images/logo.png}" /></div>

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img" />
                    wcy
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>
    <!-- 左侧导航栏 -->
    <div th:replace="common/side-nav"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <h1>modeling_task_info</h1>

            <table id="model-task-info" class="layui-table" lay-data="{title:'modeling_task_info', page:true, limit:10}" lay-filter="test">
                <thead>
                <tr>
                    <th lay-data="{field:'task_id', width:120, sort: true, edit:'text'}">task_id (PK)</th>
                    <th lay-data="{field:'task_name', width:140, edit:'text'}">task_name</th>
                    <th lay-data="{field:'task_desc', width:130, sort: true, edit:'text'}">task_desc</th>
                    <th lay-data="{field:'task_create_time', width:150, edit:'text'}">task_create_time</th>
                    <th lay-data="{field:'task_exec_time', width:140, edit:'text'}">task_exec_time</th>
                    <th lay-data="{field:'task_end_time', width:140, edit:'text'}">task_end_time</th>
                    <th lay-data="{field:'task_state', width:100, edit:'text'}">task_state</th>
                    <th lay-data="{field:'miningtask_type', width:140, edit:'text'}">miningtask_type</th>
                    <th lay-data="{field:'algo_id', width:110, edit:'text'}">algo_id (FK)</th>
                    <th lay-data="{field:'business_analysis_topic_id', width:240, edit:'text'}">business_analysis_topic_id (FK)</th>
                    <th lay-data="{field:'entity_id', width:120, edit:'text'}">entity_id (FK)</th>
                    <th lay-data="{fixed: 'right', width:110, align:'center', toolbar: '#barDemo'}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="modelingTask : ${modelingTasks}">
                    <td lay-data="{field:'task_id', width:120, sort: true}" th:text="${modelingTask.task_id}">-</td>
                    <td lay-data="{field:'task_name', width:160}" th:text="${modelingTask.task_name}">-</td>
                    <td lay-data="{field:'task_desc', width:150, sort: true}" th:text="${modelingTask.task_desc}">-</td>
                    <td lay-data="{field:'task_create_time', width:80}" th:text="${modelingTask.task_create_time}">-</td>
                    <td lay-data="{field:'task_exec_time', width:80}" th:text="${modelingTask.task_exec_time}">-</td>
                    <td lay-data="{field:'task_end_time', width:80}" th:text="${modelingTask.task_end_time}">-</td>
                    <td lay-data="{field:'task_state', width:90}" th:text="${modelingTask.task_state}">-</td>
                    <td lay-data="{field:'miningtask_type', width:80}" th:text="${modelingTask.miningtask_type}">-</td>
                    <td lay-data="{field:'algo_id', width:120}" th:text="${modelingTask.algo_id}">-</td>
                    <td lay-data="{field:'business_analysis_topic_id', width:220}" th:text="${modelingTask.business_analysis_topic_id}">-</td>
                    <td lay-data="{field:'entity_id', width:120}" th:text="${modelingTask.entity_id}">-</td>
                </tr>
                </tbody>
            </table>



            <form  id="test" class="layui-form layui-form-pane" th:object="${modelingTaskInfo}">
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 220px;">task_id</label>
                    <div class="layui-input-inline" style="width: 200px;">
                        <input type="text" id="task_id"  name="task_id" lay-verify="required|number" placeholder="请必须输入数字" autocomplete="off" class="layui-input"></input>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 220px;">task_name</label>
                    <div class="layui-input-inline" style="width: 200px;">
                        <input type="text" id="task_name" name="task_name" lay-verify="" placeholder="" autocomplete="off" class="layui-input"></input>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 220px;">task_desc</label>
                    <div class="layui-input-inline" style="width: 200px;">
                        <input type="text" id="task_desc" name="task_desc"  placeholder="" autocomplete="off" class="layui-input"></input>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 220px;">task_create_time</label>
                    <div class="layui-input-inline" style="width: 200px;">
                        <input type="text" id="task_create_time" name="task_create_time" lay-verify="datatime" placeholder="yyyy-MM-dd hh:mm:ss" autocomplete="off" class="layui-input"></input>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 220px;">task_exec_time</label>
                    <div class="layui-input-inline" style="width: 200px;">
                        <input type="text" id="task_exec_time" name="task_exec_time" lay-verify="datatime" placeholder="yyyy-MM-dd hh:mm:ss" autocomplete="off" class="layui-input"></input>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 220px;">task_end_time</label>
                    <div class="layui-input-inline" style="width: 200px;">
                        <input type="text" id="task_end_time" name="task_end_time" lay-verify="datatime" placeholder="yyyy-MM-dd hh:mm:ss" autocomplete="off" class="layui-input"></input>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 220px;">task_state</label>
                    <div class="layui-input-inline" style="width: 200px;">
                        <input type="text" id="task_state" name="task_state" lay-verify="number" placeholder="数字" autocomplete="off" class="layui-input"></input>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 220px;">miningtask_type</label>
                    <div class="layui-input-inline" style="width: 200px;">
                        <input type="text" id="miningtask_type" name="miningtask_type" lay-verify="" placeholder="" autocomplete="off" class="layui-input"></input>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 220px;"><a href="http://localhost:8086/algoInfo/index">algo_id</a></label>
                    <div class="layui-input-inline" style="width: 200px;">
                        <select type="text" id="algo_id" name="algo_id" lay-verify="">
                            <!--<tr th:each="algorithm : ${Algorithms}">-->
                                <option th:each="algo : ${algos}" th:text="${algo.algo_id} +':'+${algo.algo_name}" th:value="${algo.algo_id}">NULL</option>
                            <!--</tr>-->
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 220px;"><a href="http://localhost:8086/business/index">business_analysis_topic_id </a></label>
                    <div class="layui-input-inline" style="width: 200px;">
                        <select type="text" id="business_analysis_topic_id" name="business_analysis_topic_id" lay-verify="">
                            <option th:each="businessTopic: ${businessTopics}" th:text="${businessTopic.business_analysis_topic_id}" th:value="${businessTopic.business_analysis_topic_id}">NULL</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 220px;color: #339933"><a href="http://localhost:8086/modelEntity/index">entity_id </a></label>
                    <div class="layui-input-inline" style="width: 200px;">
                        <select type="text" id="entity_id" name="entity_id" lay-verify="">
                                <option th:each="modelEntity: ${modelEntitys}" th:text="${modelEntity.entity_id}" th:value="${modelEntity.entity_id}">NULL</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button lay-submit=""  class="layui-btn" lay-filter="add-model" >增加</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--JS code-->
    <script th:src="@{/static/layui/layui.js}" />
    <script th:src="@{/static/js/jquery/jquery-1.11.1.min.js}" charset="utf-8"></script>

    <!--表格toolBar-->
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-mini" lay-event="update">更新</a>
        <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>
    </script>
    <script>
        layui.use(['element', 'table'], function(){
            var table = layui.table;
            //监听工具条
            table.on('tool(test)', function(obj){
                var data = obj.data  //获取当前行数据
                    ,layEvent = obj.event;     //获取ley-event对应值
                console.log(data);
                if(layEvent === 'del'){
                    layer.confirm('确认删除？', function(delet){
                        $.ajax({
                            type: "POST",
                            url: "deleteModelTask",
                            data: {
                                'record': JSON.stringify(data)
                            },
//                            dataType: 'json',
                            success: function () {
                                layer.msg("删除成功！");
                            },
                        })
                        obj.del();
                        layer.close(delet);
                        return false;
                    });
                }else if(layEvent == 'update'){
                    layer.confirm('更新到数据库？', function(update){
                        $.ajax({
                            type: "POST",
                            url: "updateModelTask",
                            data: {
                                'modelRecord': JSON.stringify(data)
                            },
//                            dataType: 'json',
                            success: function () {
                                layer.msg("更新成功！");
                            }
                        });
                        layer.close(update);
//                        return false;
                    })

                }
            });
            table.on('edit(test)', function(obj){
                var value = obj.value //得到修改后的值
                    ,data = obj.data //得到所在行所有键值
                    ,field = obj.field; //得到字段
            });
        });
    </script>

    <!--自定义验证规则-->
    <script th:inline="javascript">
        layui.use(['form','layedit', 'laydate'],function(){
           var form = layui.form
               ,layer = layui.layer
               ,layedit = layui.layedit
               ,laydate = layui.laydate;
           form.verify({
               number:[/^[0-9]*$/, '必须是数字']
               ,datetime:[/\d{4}-\d{2}-\d{2}\s\d{2}:\d{2}:\d{2}$/, '必须是日期+时间']
               ,required:[/^\S/,'必须输入']
           });
           //创建一个编辑器
            layedit.build('LAY_editor');
            console.log("submit");


        //监听提交
            form.on('submit(add-model)', function(data){
                console.log(data.elem);
                console.log(data.form);
                console.log(data.field);

//                var model_task = [[${modelingTasks}]];
//                console.log(model_task);
                $.ajax({
                    type: "POST",
                    url: "task",
                    data: {
                        'task': JSON.stringify(data.field)
                    },
//                    dataType: 'json',
                    success: function () {
                        layer.msg("增加成功！");
                    },
                })
//                return false;
            });
        });
    </script>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>


<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
    layui.use('table', function() {
        var table = layui.table;
//        table.render({
//            elem: '#src-table-info',
//            width: 500,
//            height: 315
//        });

    });
</script>
</body>
</html>