<div class="layui-side layui-bg-black nav-content">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree"  lay-filter="test">


            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">User</a>
                <!--<dl class="layui-nav-child">-->
                    <!--<dd><a href="http://localhost:8086/result/storeMedium">17. store_medium_info</a></dd>-->
                    <!--<dd><a href="http://localhost:8086/result/modelResultPath">18. modeling_result_path</a></dd>-->
                    <!--<dd><a href="http://localhost:8086/result/resultAttr">19. result_attr</a></dd>-->
                    <!--<dd><a href="http://localhost:8086/result/taskStoreRel">20. task_store_rel</a></dd>-->
                    <!--<dd><a href="http://localhost:8086/result/storeMediumCF">21. store_medium_info_col_family</a></dd>-->
                <!--</dl>-->
            </li>

        </ul>
    </div>
</div>
