<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.dao.ModelingTaskInfoDao">
    <resultMap id="ModelTaskEntityMap" type="com.project.model.ModelingTaskInfo">
        <!--注意这里的property对应了model里的字段名称-->
        <id column="task_id" property="task_id" jdbcType="INTEGER"/>
        <result column="task_name" property="task_name" jdbcType="VARCHAR"/>
        <result column="task_desc" property="task_desc" jdbcType="VARCHAR"/>
        <result column="task_create_time" property="task_create_time" jdbcType="VARCHAR"/>
        <result column="task_exec_time" property="task_exec_time" jdbcType="VARCHAR"/>
        <result column="task_end_time" property="task_end_time" jdbcType="VARCHAR"/>
        <result column="task_state" property="task_state" jdbcType="VARCHAR"/>
        <result column="miningtask_type" property="miningtask_type" jdbcType="VARCHAR"/>
        <result column="algo_id" property="algo_id" jdbcType="INTEGER"/>
        <result column="business_analysis_topic_id" property="business_analysis_topic_id" jdbcType="VARCHAR"/>
        <result column="entity_id" property="entity_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="ModelTaskList">
        task_id, task_name, task_desc, task_create_time, task_exec_time, task_end_time, task_state, miningtask_type, algo_id, business_analysis_topic_id, entity_id
    </sql>

    <select id="selectAllModel" resultMap="ModelTaskEntityMap">
        SELECT *
        FROM modeling_task_info;
    </select>

    <insert id="insertModel"  parameterType="com.project.model.ModelingTaskInfo">
        INSERT INTO modeling_task_info(task_id,task_name,task_desc,task_create_time,task_exec_time,task_end_time,task_state, miningtask_type,algo_id,business_analysis_topic_id,entity_id)
        VALUES (#{task_id, jdbcType=INTEGER}, #{task_name, jdbcType=VARCHAR}, #{task_desc, jdbcType=VARCHAR},
        #{task_create_time, jdbcType=VARCHAR}, #{task_exec_time, jdbcType=VARCHAR}, #{task_end_time, jdbcType=VARCHAR},
        #{task_state, jdbcType=VARCHAR}, #{miningtask_type, jdbcType=VARCHAR}, #{algo_id, jdbcType=INTEGER},
        #{business_analysis_topic_id, jdbcType=VARCHAR}, #{entity_id, jdbcType=INTEGER});
    </insert>

    <delete id="deleteModelTaskInfo" parameterType="com.project.model.ModelingTaskInfo">
        DELETE FROM modeling_task_info
        WHERE task_id = #{task_id};
    </delete>

    <update id="updateModelTaskInfo" parameterType="com.project.model.ModelingTaskInfo">
        UPDATE modeling_task_info
        SET task_name = #{task_name}, task_desc = #{task_desc}, task_create_time = #{task_create_time},
        task_exec_time = #{task_exec_time}, task_end_time = #{task_end_time}, task_state = #{task_state},
        miningtask_type = #{miningtask_type}, algo_id = #{algo_id}, business_analysis_topic_id = #{business_analysis_topic_id}, entity_id = #{entity_id}
        WHERE task_id = #{task_id};
    </update>
</mapper>